* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.search{
    position: absolute;
    top: 20px;
    right: 60px;
}

.search_holder{
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  outline: none;
  color: #9E9C9C;
  position: absolute;
  z-index: 3;
  left: -110px; top:5px;
}

.search_submit {
  position: absolute; 
  z-index: 3;
  top: 5px;
  left: 185px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search_submit:before {
  content: url(../icons/zoom.png);
  display: inline-block;
}

button{
    display: block;
    background: #0000CD; 
}

header{
    width: 100%;
    height: 80px;
    border-bottom:1px solid #ccc;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    
}

nav{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo{
    width: 190px;
    height: 90px;
    display: block;
    margin-left: 20px;
    cursor: default;
}

.btn_explore{
    width: 125px;
    height: 40px;
    border-radius:3px;
    border:1px solid #0000CD;
    color: #fff;
    margin: 25px 0 0 5px;
    cursor:pointer;
    font-weight: 500;
    font-size: 15px;
    padding-right: 22px;
}

.btn_explore::after{
    content:url(../icons/down.png);
    position: absolute;
    top: 37px; right: 225px;
}

.btn_explore:hover{
    background-color: #fff;
    color: #0000CD;
}

.sub_menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 290px;
    margin-right: 5px;
    flex-wrap: wrap;
    align-content: center;
}

.btn_join{
    width: 140px;
    height: 40px;
    margin: 25px 30px 0 20px;
    border-radius:3px;
    color: #fff;
    border:1px solid #0000CD;
    cursor:pointer;
    font-weight: 500;
    font-size: 15px;
}

.btn_join:hover{
    background-color: #00008B;
}

.sub_menu a{
    text-decoration: none;
    color: #000;
}

.sub_menu a:hover{
    text-decoration: underline;
    color: #1E90FF;
}

.sub_menu a:last-child{
    color: #0000CD;
}
section{
    min-height: 1000px;
    background: url('../img/fon_bg.jpg') center center/cover no-repeat;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 70px;
}

section{
    padding-top: 100px;
}

h1{
    margin: 3px 0 20px 90px;
    line-height: 55px;
    font-weight: 400;
    font-size: 45px;
}

p{
    margin-left: 90px;
    line-height: 10px;
    font-weight: 400;
    font-size: 19px;
}

.block{
    background-color: #fff;
    width: 310px;
    height: 480px;
    margin-top: 25px;
    margin-right: 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 3px #ccc;
}

.block:hover{
    box-shadow: 10px 10px 15px 5px #ccc;
}

.subblock_1{
    width: 100%;
    height: 150px;
    background: url('../img/fundations.jpg') center center/cover no-repeat;
    border-radius: 3px 3px 0 0;
}

.subblock_2{
    width: 100%;
    height: 150px;
    background: url('../img/innovation.jfif') center center/cover no-repeat;
    border-radius: 3px 3px 0 0;
}

.subblock_3{
    width: 100%;
    height: 150px;
    background: url('../img/cloud.jfif') center center/cover no-repeat;
    border-radius: 3px 3px 0 0;
}

.subblock_4{
    width: 100%;
    height: 150px;
    background: url('../img/sas.jpg') center center/cover no-repeat;
    border-radius: 3px 3px 0 0;
}

.block_img{
    width: 75px;
    height: 75px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 115px; left: 35px;
}

.title_block{
    position: absolute; 
    top: 225px; left: 35px;
}

.title{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 23px;
}

.subtitle{
    color: #696969;
}

.free{
    width: 57px;
    height: 18px;
    background-color: #fff000;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 165px; left: 240px;
    font-weight: 700;
}

span{
    position: absolute;
    bottom: 20px;left: 20px;
    color: #4F4F4F;
    font-weight: 700;
    font-size: 14px;
}

.container_1{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding-left: 88px;
    margin-bottom: 35px;
}

.container_2{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding-left: 88px;
    margin-bottom: 35px;
}
.container_3{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding-left: 88px;
    padding-bottom: 35px;
}
.chose{
    width: 318px;
    height: 110px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    box-shadow: 2px 2px 5px 2px #9C9C9C;
}

.chose:hover{
    box-shadow: 4px 4px 10px 7px #9C9C9C;
}

.text_div{
    margin: 30px 10px 20px 15px;
}

.text{
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 5px;
}

.subtext{
    font-weight: 700;
    color: #708090;
}

h2{
    margin: 35px 0 20px 84px;
    font-weight: 400;
    font-size: 47px;
}

.img_1{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/data.jfif') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_2{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/business.jfif') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_3{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/computer.jpg') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_4{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/health.jpg') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_5{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/social.jpg') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_6{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/personal.jpg') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_7{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/art.jpg') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_8{
    display: inline-block;
    width: 140px;
    height: 100%;
    background: url('../icons/physical.jfif') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_9{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/languagejfif.jfif') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.img_10{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/information.jpg') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}
.img_11{
    display: inline-block;
    width: 110px;
    height: 100%;
    background: url('../icons/math.jfif') center center/cover no-repeat;
    border-radius: 4px 0 0 4px;
}

.round_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.round{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-left: 50px;
}

.block_img_1{
    width: 350px;
    margin-bottom: 50px;
}

.block_img_2{
    width: 350px;
    margin-bottom: 50px;
}

.block_img_3{
    width: 350px;
    margin-bottom: 50px;
}

h3{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    margin: 40px 0 15px 0;
}
.sub_h3{
    text-align: center;
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 32px;
}

.img_title{
    color: #27408B;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 10px 125px;
}

.img_subtitle{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.img_span{
    width: 80px;
    height: 2px;
    background-color: #0000CD;
    margin: 0 auto;
    margin-bottom: 35px;
}

.img_sub{
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.img_text{
    margin: 0 auto;
    font-size: 22px;
    line-height: 35px;
    margin-left: 20px;
}

